@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&family=Chonburi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


/*  <=========== Heading ===========>  */
:root {
    --black: #000;
    --blue: #0098db;
    --blue-shadow: rgba(0, 152, 219, 0.3);
    --font-size-large: 38px;
    --font-size-medium: 28px;
    --font-size-small: 20px;
    --font-size-smallest: 18px;
}




/*  <=========== Heading ===========>  */
/* hd1 */
.hd1 {
    text-align: center;
    padding: 20px 0;
    padding-bottom: 30px;
}

.hd1 h1 {
    font-size: var(--font-size-large);
    font-weight: 600;
    color: var(--blue);
    letter-spacing: 2px;
}

.hd1 h1 span {
    background: var(--blue-shadow);
    color: var(--black);
    padding: 6px 10px;
}

/* hd2 */
.hd2 {
    margin-bottom: 30px;
}

.hd2 h1 {
    position: relative;
    padding: 0;
    color: var(--blue);
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: var(--font-size-large);
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
}

.hd2 h1:before {
    content: '';
    width: 60px;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.hd2 h1 span {
    font-weight: 700;
    padding-bottom: 5px;
    color: var(--black);
}

.hd2 p {
    text-align: center;
    font-size: var(--font-size-smallest);
}